.prescriptions{
    width: 40%;
    margin-top: 2em;
   
}

   /* Image */
#root .prescriptionCard img{
    display:inline-block;
    height:120px;
    opacity: 0.30;
   }
   
   /* Card body */
   #root .prescriptionCard .card-body{
    background-image:none;
    background-color:#284B63;
    border-color:#bdc3c7;
    border-style:none !important;
    border-top-style:solid;
    border-top-color:#bdc3c7;
    border-top-width:2px;
    height: 3em;
    padding-left: 15px
   }
   
  
   