.prescriptions{
    width: 50%;
    margin-top: 2em;
    display: ;
    
   
}
/* Image */
#root img{
    max-width:50%;
    max-height:275px;
    margin-top: .75em
   }
  
   /* Card body */
   #root .prescriptionCard .card-body{
    background-image:none;
    background-color:#284B63;
    border-color:#bdc3c7;
    border-style:none !important;
    border-top-style:solid;
    border-top-color:#bdc3c7;
    border-top-width:2px;
    height: 5em;
    padding-left: 15px
   }

   
   /* Link */
#root .card-body a{
    display:inline-block;
    height:23px;
    transform:translatex(-77px) translatey(34px);
    width:84px;
   }
   li {
    font-size:24px;
   }
   
  
  
   