/* Image */
#root .carousel-item img{
    display:inline-block !important;
    min-height:406px;
    position:relative;
    bottom:21px;
    max-width:591px;
   }
   
   /* Image */
   #root #carouselExampleDark .carousel-inner .carousel-item img{
    margin-left:25%
   }
   
   /* Heading */
#root .carousel-item h5{
    position:relative;
    top:-200px;
    font-size:31px;
    font-weight: bold;
   }
   /* Paragraph */
#root .carousel-item p{
    position:relative;
    top:-197px;
    font-size: 19px
   }
.home-appointment{
    background-color:white
}
   