body {
  align-items: center;
  width: 80vw;
  height: 80vh;
  max-width: 1200px;
  margin: auto;
  min-width: 325px;
}

h2 {
  color: white;
  text-align:center;
  font-size: 3em;
  background-color:#284B63;
  padding: 5px;
  margin-top: 2em;
  padding-top:29px;
  min-height:85px;
}
h4 {
  color: white;
  background-color: #3C6E71;
  
  
 }
 h5 {
  color: white;
  background-color: #3C6E71;
  margin-top: 1em;
 
 }

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color:#d9d9d9;
}
button:hover {
  opacity: 0.7;
  
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-primary:hover{
  opacity: 0.6;
  
  
}
.navbar .navbar__item a{
  color:#ffffff;
  text-decoration:none;
 }
 .card-link{
  color:white;
  text-decoration:none;
 }


