/* Input */
#root form input[type=date]{
    position:relative;
    left:78px;
    max-width:325px;
    min-width:300px;
    margin: 1em
   }
   /* Input */
#root form input[type=time]{
    position:relative;
    left:78px;
    max-width:325px;
    min-width:300px;
    margin: 1em
   }
   /* Form group */
#root form .form-group{
    font-size:19px;
   }
  