#root .link--register a{
    color:#284b63;
    position:relative;
    padding-bottom:2px;
    top: 11px;

   }

   /* Button */
   .form--login fieldset button{
    background-color:#d9d9d9;
    color:#000000;
   }
   
   /* Fieldset */
   #root section fieldset{
    background-color:#d9d9d9;
   }
   /* Input */
.form--login fieldset input[type=email]{
    background-color:#d9d9d9;
    border-color:#000000;
   }
   #root .link--register a{
    padding-top:4px;
    display:inline-block;
    transform:translatex(0px) translatey(29px);
   }